$backgound-color: linear-gradient(216deg,
    rgba(255, 239, 0, 1) 30%,
    rgba(251, 147, 20, 0.9812967423297444) 100%);
$button-color:linear-gradient(216deg,
    rgb(78, 132, 202) 10%,
    rgb(28, 41, 60) 100%);
$button-hover-color:linear-gradient(216deg,
    rgba(251, 147, 20, 0.9812967423297444) 30%,
    rgba(255, 239, 0, 1) 100%);